<script id="bss-bcp-store-data" type="application/json">
	{
		"shop": {
			"name": "{{shop.name}}",
			"email": "{{shop.email}}",
			"domain": "{{ shop.domain }}",
			"permanent_domain": "{{ shop.permanent_domain }}",
			"url": "{{ shop.url }}",
			"secure_url": "{{ shop.secure_url }}",
			"money_format": {{ shop.money_format | json }},
			"currency": {{ shop.currency | json }}
		},
		"customer": {
			"id": {{ customer.id | json }},
			"tags": {{ customer.tags | json }},
			"email": {{ customer.email | json }},
			"firstName": {{ customer.first_name | json }},
			"lastName": {{ customer.last_name | json }},
			"defaultAddress": {{ customer.default_address | json }},
			"phone": {{ customer.phone | json }},
			"addresses": {{ customer.addresses | json }}
		},
		"template": "{{ template | split: "." | first }}",
		"product": {{ product | json }},
		"cart": {{ cart | json }},
		"product_collections": [
			{% for collection in product.collections %}
				{{ collection.id }}{% unless forloop.last %},{% endunless %}
			{% endfor %}
		],
		"money_code": {{ cart.currency.iso_code | json }},
		"money_format": {{ cart.currency.symbol | json }},
		"variants_quantity": {
			{% for variant in product.variants %}
				"{{ variant.id }}": {{ variant.inventory_quantity }}{% unless forloop.last %},{% endunless %}
			{% endfor %}
		},
		"variants_policy": {
			{% for variant in product.variants %}
				"{{ variant.id }}": "{{ variant.inventory_policy }}"{% unless forloop.last %},{% endunless %}
			{% endfor %}
		},
		"taxes_included": {{ cart.taxes_included | json }}
	}
</script>

<script id="bss-bcp-config-data">
	if (typeof BSS_BCP == 'undefined') {
		var BSS_BCP = {};
	}
	BSS_BCP.storeId = {{ app.metafields.secret_keys.store_id }};

	BSS_BCP.hyperLink = {};
	BSS_BCP.hyperLink.applyTo = {{ app.metafields.secret_keys.portal_link_apply_to }};
	BSS_BCP.hyperLink.text = "{{ app.metafields.secret_keys.portal_link_text }}";
	BSS_BCP.hyperLink.customerId = {{ app.metafields.secret_keys.portal_link_config_customer_id }};
	BSS_BCP.hyperLink.customerTag = {{ app.metafields.secret_keys.portal_link_config_customer_tag }};

	BSS_BCP.nt = {};
	BSS_BCP.nt.isEnable = {{ app.metafields.secret_keys.is_nt_enable }};
	{% if app.metafields.secret_keys.is_nt_enable %}
		BSS_BCP.nt.rules = {{ app.metafields.secret_keys.nt_rules }};
		BSS_BCP.nt.config = {{ app.metafields.secret_keys.nt_config }};
		BSS_BCP.nt.translation = {{ app.metafields.secret_keys.nt_translation }};
	{% else %}
		BSS_BCP.nt.rules = null;
		BSS_BCP.nt.config = null;
		BSS_BCP.nt.translation = null;
	{% endif %}

	BSS_BCP.vo = {};
	BSS_BCP.vo.isEnable = {{ app.metafields.secret_keys.is_vo_enable }};
	{% if app.metafields.secret_keys.is_vo_enable %}
		BSS_BCP.vo.rules = {{ app.metafields.secret_keys.vo_rules }};
		BSS_BCP.vo.translation = {{ app.metafields.secret_keys.vo_translation }};
	{% else  %}
		BSS_BCP.vo.rules = null;
		BSS_BCP.vo.translation = null;
	{% endif %}

	BSS_BCP.isEnableQuote = {{ app.metafields.secret_keys.is_r4q_enable }};
	{% if app.metafields.secret_keys.is_r4q_enable %}
		BSS_BCP.quoteRule = {{ app.metafields.secret_keys.r4q_rules }};
		BSS_BCP.quoteConfig = {{ app.metafields.secret_keys.r4q_config }};
		BSS_BCP.quoteTranslations = {{ app.metafields.secret_keys.r4q_translation }};
		{% if app.metafields.secret_keys.r4q_btn_config %}
			BSS_BCP.quoteBtnConfig = {{ app.metafields.secret_keys.r4q_btn_config }};
		{% else %}
			BSS_BCP.quoteBtnConfig = null;
		{% endif %}
	{% else %}
		BSS_BCP.quoteRule = null;
		BSS_BCP.quoteConfig = null;
		BSS_BCP.quoteTranslations = null;
		BSS_BCP.quoteBtnConfig = null;
	{% endif %}

	BSS_BCP.ca = {};
	BSS_BCP.ca.isEnable = {{ app.metafields.secret_keys.is_ca_enable }};
	{% if app.metafields.secret_keys.is_ca_enable %}
		BSS_BCP.ca.listSubUser = {{ app.metafields.secret_keys.list_sub_user }};
		BSS_BCP.ca.shareCartText = "{{ app.metafields.secret_keys.share_cart_text }}";
		BSS_BCP.ca.orderMarkingType = {{ app.metafields.secret_keys.order_marking_type }};
	{% else %}
		BSS_BCP.ca.listSubUser = [];
		BSS_BCP.ca.shareCartText = "Share to company";
		BSS_BCP.ca.orderMarkingType = 0;
	{% endif %}
</script>
<script id="bss-bcp-embed-proxy">
	(function () {
		let isShowEmbedProxy = false;
		const customerId = "{{ customer.id | append: "" | downcase }}";
		const customerTags = "{{ customer.tags | join: ',' | downcase }}".split(',');

		if (window.Shopify?.designMode) {
			isShowEmbedProxy = true;
		} else {
			if (BSS_BCP.hyperLink.applyTo === 0) {
				isShowEmbedProxy = (customerId.length > 0);
			} else if (BSS_BCP.hyperLink.applyTo === 1) {
				BSS_BCP.hyperLink.customerId.forEach(item => {
					if (+item === +customerId) {
						isShowEmbedProxy = true;
						return;
					}
				})
			} else if (BSS_BCP.hyperLink.applyTo === 2) {
				BSS_BCP.hyperLink.customerTag.forEach(item => {
					if (customerTags.includes(item.toLowerCase())) {
						isShowEmbedProxy = true;
						return;
					}
				})
			} else if (BSS_BCP.hyperLink.applyTo === 3) {
				isShowEmbedProxy = true;
			}
		}

		if (!isShowEmbedProxy) {
			document.addEventListener("DOMContentLoaded", function () {
				document.body.insertAdjacentHTML("afterbegin", `
					<style>
						a[href*="/account?portal=/"],
						a[href*="/apps/customer-portal"] {
							display: none !important;
						}
					</style>
				`);
			});
		}

		const embedProxy = () => {
			window.addEventListener('DOMContentLoaded', () => {
				if (window.location.pathname.includes('/account') 
					&& !window.location.pathname.includes('/account/login')
					&& !window.location.pathname.includes('/account/register')
					&& !window.location.pathname.includes('/account/order')
					&& !window.location.pathname.includes('/account/activate')
					) {
					const mainContent = document.querySelector('#MainContent, #site-main, .shopify-section--main-customers-account, .customer--root, #main-content, #main');
					const urlParams = new URLSearchParams(window.location.search);
					const fullUrl = urlParams.get('portal')?.replace('/apps/customer-portal', '');
					if (mainContent) {
						mainContent.innerHTML = '';

						const spinner = document.createElement('div');
						spinner.id = 'loadingBssSpinner';
						spinner.style.width = '100%';
						spinner.style.height = '102vh';
						spinner.style.display = 'flex';
						spinner.style.justifyContent = 'center';
						spinner.style.alignItems = 'center';
						spinner.innerHTML = `<div class="bss-spinner"></div>`;
						mainContent.appendChild(spinner);

						const style = document.createElement('style');
						style.textContent = `
							.bss-spinner {
								display: block!important;
								width: 50px;
								height: 50px;
								border: 4px solid #ccc;
								border-top: 4px solid rgb(59, 195, 211);
								border-radius: 50%;
								animation: spin 1s linear infinite!important;
							}
							@keyframes spin {
								0% { transform: rotate(0deg); }
								100% { transform: rotate(360deg); }
							}
						`;
						document.head.appendChild(style);

						const iframe = document.createElement('iframe');
						iframe.id = 'customerPortalIframe';
						iframe.src = fullUrl ? '/apps/customer-portal' + fullUrl : '/apps/customer-portal' ;
						iframe.style.width = '100%';
						iframe.style.height = '102vh';
						iframe.style.border = 'none';
						iframe.onload = () => {
							spinner.style.display = 'none';
							iframe.contentDocument.head.innerHTML += `{{ app.metafields.secret_keys.custom_css_style }}`;
						};

						mainContent.appendChild(iframe);
					}
				}
			});
		}
		BSS_BCP.is_enable_embed_proxy = {{ app.metafields.secret_keys.is_enable_embed_proxy }}
		if (BSS_BCP.is_enable_embed_proxy && isShowEmbedProxy) {
			embedProxy();
		}
	})();
</script>
{% if app.metafields.secret_keys.is_r4q_enable %}
	{{ app.metafields.secret_keys.quote_hide_price_style }}
{% endif %}

{% if app.metafields.secret_keys.custom_css_style %}
	{{ app.metafields.secret_keys.custom_css_style }}
{% endif %}

<script id="bss-bcp-customize">
	{{ app.metafields.secret_keys.js_hook }}
</script>

{% schema %}
	{
		"name": "B2B Portal",
		"target": "head",
		"stylesheet": "bss-bcp-config-header.css",
		"javascript": "bss-bcp-js.js"
	}
{% endschema %}
